.Navbar {
    .navbar {
        background-color: black;
        margin-top: 0;

        .links {
            display: flex;
            align-items: center;
            justify-content: end;
            list-style-type: none;
            max-width: 1200px;
            margin: 0 auto;
            padding: 1rem;

            li {
                margin-left: 1rem;
                font-size: 1.5rem;

                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        text-decoration: underline;
                    }

                    &:active {
                        color: #affaff;
                    }
                }
            }
        }
    }
}